[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "libs/partial_boost/asio"]
	path = libs/partial_boost/asio
	url = https://github.com/boostorg/asio
[submodule "libs/partial_boost/align"]
	path = libs/partial_boost/align
	url = https://github.com/boostorg/align
[submodule "libs/partial_boost/array"]
	path = libs/partial_boost/array
	url = https://github.com/boostorg/array
[submodule "libs/partial_boost/assert"]
	path = libs/partial_boost/assert
	url = https://github.com/boostorg/assert
[submodule "libs/partial_boost/bind"]
	path = libs/partial_boost/bind
	url = https://github.com/boostorg/bind
[submodule "libs/partial_boost/chrono"]
	path = libs/partial_boost/chrono
	url = https://github.com/boostorg/chrono
[submodule "libs/partial_boost/config"]
	path = libs/partial_boost/config
	url = https://github.com/boostorg/config
[submodule "libs/partial_boost/core"]
	path = libs/partial_boost/core
	url = https://github.com/boostorg/core
[submodule "libs/partial_boost/coroutine"]
	path = libs/partial_boost/coroutine
	url = https://github.com/boostorg/coroutine
[submodule "libs/partial_boost/date_time"]
	path = libs/partial_boost/date_time
	url = https://github.com/boostorg/date_time
[submodule "libs/partial_boost/function"]
	path = libs/partial_boost/function
	url = https://github.com/boostorg/function
[submodule "libs/partial_boost/regex"]
	path = libs/partial_boost/regex
	url = https://github.com/boostorg/regex
[submodule "libs/partial_boost/smart_ptr"]
	path = libs/partial_boost/smart_ptr
	url = https://github.com/boostorg/smart_ptr
[submodule "libs/partial_boost/system"]
	path = libs/partial_boost/system
	url = https://github.com/boostorg/system
[submodule "libs/partial_boost/throw_exception"]
	path = libs/partial_boost/throw_exception
	url = https://github.com/boostorg/throw_exception
[submodule "libs/partial_boost/type_traits"]
	path = libs/partial_boost/type_traits
	url = https://github.com/boostorg/type_traits
[submodule "libs/partial_boost/utility"]
	path = libs/partial_boost/utility
	url = https://github.com/boostorg/utility
[submodule "libs/partial_boost/integer"]
	path = libs/partial_boost/integer
	url = https://github.com/boostorg/integer
[submodule "libs/partial_boost/mpl"]
	path = libs/partial_boost/mpl
	url = https://github.com/boostorg/mpl
[submodule "libs/partial_boost/ratio"]
	path = libs/partial_boost/ratio
	url = https://github.com/boostorg/ratio
[submodule "libs/partial_boost/context"]
	path = libs/partial_boost/context
	url = https://github.com/boostorg/context
[submodule "libs/partial_boost/exception"]
	path = libs/partial_boost/exception
	url = https://github.com/boostorg/exception
[submodule "libs/partial_boost/algorithm"]
	path = libs/partial_boost/algorithm
	url = https://github.com/boostorg/algorithm
[submodule "libs/partial_boost/lexical_cast"]
	path = libs/partial_boost/lexical_cast
	url = https://github.com/boostorg/lexical_cast
[submodule "libs/partial_boost/numeric_conversion"]
	path = libs/partial_boost/numeric_conversion
	url = https://github.com/boostorg/numeric_conversion
[submodule "libs/partial_boost/range"]
	path = libs/partial_boost/range
	url = https://github.com/boostorg/range
[submodule "libs/partial_boost/tokenizer"]
	path = libs/partial_boost/tokenizer
	url = https://github.com/boostorg/tokenizer
[submodule "libs/partial_boost/typeof"]
	path = libs/partial_boost/typeof
	url = https://github.com/boostorg/typeof
[submodule "libs/partial_boost/predef"]
	path = libs/partial_boost/predef
	url = https://github.com/boostorg/predef
[submodule "libs/partial_boost/move"]
	path = libs/partial_boost/move
	url = https://github.com/boostorg/move
[submodule "libs/partial_boost/variant2"]
	path = libs/partial_boost/variant2
	url = https://github.com/boostorg/variant2
[submodule "libs/partial_boost/winapi"]
	path = libs/partial_boost/winapi
	url = https://github.com/boostorg/winapi
[submodule "libs/partial_boost/io"]
	path = libs/partial_boost/io
	url = https://github.com/boostorg/io
[submodule "libs/partial_boost/static_assert"]
	path = libs/partial_boost/static_assert
	url = https://github.com/boostorg/static_assert
[submodule "libs/partial_boost/preprocessor"]
	path = libs/partial_boost/preprocessor
	url = https://github.com/boostorg/preprocessor
[submodule "libs/partial_boost/rational"]
	path = libs/partial_boost/rational
	url = https://github.com/boostorg/rational
[submodule "libs/partial_boost/pool"]
	path = libs/partial_boost/pool
	url = https://github.com/boostorg/pool
[submodule "libs/partial_boost/unordered"]
	path = libs/partial_boost/unordered
	url = https://github.com/boostorg/unordered
[submodule "libs/partial_boost/container"]
	path = libs/partial_boost/container
	url = https://github.com/boostorg/container
[submodule "libs/partial_boost/concept_check"]
	path = libs/partial_boost/concept_check
	url = https://github.com/boostorg/concept_check
[submodule "libs/partial_boost/container_hash"]
	path = libs/partial_boost/container_hash
	url = https://github.com/boostorg/container_hash
[submodule "libs/partial_boost/conversion"]
	path = libs/partial_boost/conversion
	url = https://github.com/boostorg/conversion
[submodule "libs/partial_boost/detail"]
	path = libs/partial_boost/detail
	url = https://github.com/boostorg/detail
[submodule "libs/partial_boost/optional"]
	path = libs/partial_boost/optional
	url = https://github.com/boostorg/optional
[submodule "libs/partial_boost/tuple"]
	path = libs/partial_boost/tuple
	url = https://github.com/boostorg/tuple
[submodule "libs/partial_boost/iterator"]
	path = libs/partial_boost/iterator
	url = https://github.com/boostorg/iterator
[submodule "libs/partial_boost/mp11"]
	path = libs/partial_boost/mp11
	url = https://github.com/boostorg/mp11
[submodule "libs/partial_boost/intrusive"]
	path = libs/partial_boost/intrusive
	url = https://github.com/boostorg/intrusive
[submodule "libs/partial_boost/describe"]
	path = libs/partial_boost/describe
	url = https://github.com/boostorg/describe
[submodule "libs/partial_boost/function_types"]
	path = libs/partial_boost/function_types
	url = https://github.com/boostorg/function_types
[submodule "libs/partial_boost/fusion"]
	path = libs/partial_boost/fusion
	url = https://github.com/boostorg/fusion
[submodule "libs/partial_boost/functional"]
	path = libs/partial_boost/functional
	url = https://github.com/boostorg/functional
